.MainCont_part2{
    // border: 1px solid red;
    padding-top: 20px;
    margin-left: 10px;
    
}
.parent_1{
    position: relative;
    display: flex;
    gap: 20px;
margin-bottom: 10px;
margin-left: 20px;
}
.SideBarBtn_seeMore{
    width: 80%;
    height: 30px;
 
    // border: 2px solid red;
    
}

.sidebarimg{
    width: 40px;
height: 35px;
border-radius: 40px;
}
