
.main_parent{
    display: flex;
    justify-content: space-between;
    /* background-color:rgba(212, 207, 207, 0.478); */
    color: white;
    margin-top: 3px;

}
.sidebar_parent_1{
    width: 22%;
    /* border: 2px solid red; */
}
.sidebar_parent_2{
    width: 50%;
    /* border: 2px solid rgb(0, 8, 255); */
    height: 90vh;

}
.sidebar_parent_3{
    width: 25%;
    /* border: 2px solid rgb(31, 211, 25); */
}